# Connection Profile (Org1)
CCP=~/fabric-samples/test-network/organizations/peerOrganizations/org1.example.com/connection-org1.json
# Org1 Admin MSP path
ORG1_ADMIN_MSP=~/fabric-samples/test-network/organizations/peerOrganizations/org1.example.com/users/Admin@org1.example.com/msp
# Optional overrides
CHANNEL=tenderchannel
CHAINCODE=tendercc
IDENTITY=Admin@org1.example.com
